*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a, a:hover{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    width: 100%;
    position: absolute;
    top: 45px;
    z-index: 1;
}
nav{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}
.logo{
    color: #fff;
    font-size: 24px;
}
.list-items {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.list-item {
    color: #fff;
    font-size: 14px;
    margin-right: 25px;
}
.list-item a{
    position: relative;
}
.list-item a:hover:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: gray;
    left: 0;
    bottom: -20px;
}
.list-item a:hover:after{
    content: '';
    position: absolute;
    height: 3px;
    width: 50%;
    background: #FCAC45;
    right: 0;
    bottom: -20px;
}


#hero{
    background: url("../images/257145.jpg") center center fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
    text-align: center;
    font-size: 50px;
    position: relative;
}
#hero:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
            to bottom,
            rgba(122,13,50, 0.9) 0%,
            rgba(53,53,53, 0.5) 20%,
            rgba(56, 56, 56, 0.4) 60%);
}
.header-content{
    z-index: 9;
    margin: auto;
}
.header-title {
    color: #999999;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 44px;
}
.header-description{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
.header-title span{
    font-weight: bold;
    color: #fcac45;
    font-size: 44px;
}
.header-description span{
    color: #ffffff;
    font-weight: bold;
}
.scroll{
    padding: 15px 15px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    font-size: 13px;
    transition: all .5s;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 90px;
    width: 45px;
    height: 45px;
    background-size: 50px;
}

#about{
    width: 100%;
    box-sizing: border-box;
}
.about-content{
    width: 100%;
    height: 100%;
    padding: 100px 10px 10px 10px;
}
.box-image{
    width: 120%;
    z-index: 2;
}
.about-us{
    padding-left: 140px;
}
.about-title {
    font-size: 20px;
    color: #636363;
    text-transform: uppercase;
}
.about-us-title{
    font-size: 34px;
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
}
.about-us-title:before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background: #FCAC45;
    bottom: -25px;
}
p.about-description{
     font-size: 18px;
     color: #505050;
 }
.about-us ul li span{
    font-size: 18px;
    font-weight: bolder;
    color: #5a5a5a;
    font-family: "OpenSans", sans-serif;
}
.about-us ul.list-items{
    flex-wrap: wrap;
    margin-top: 35px;
    margin-bottom: 50px;
}
.about-us ul.list-items .list-item{
    color: #505050;
    font-size: 16px;
    line-height: 40px;
}
.about-us ul li i{
    font-family: "OpenSans", sans-serif;

}
.button a{
    padding: 15px 30px;
    font-size: 12px;
    font-family: "OpenSans", sans-serif;
    color: #616161;
    text-transform: uppercase;
    border: 1px solid #616161;
    border-radius: 3px;
    opacity: 0.6;
}
.button img{
    vertical-align: baseline;
}
.button:hover a{
    opacity: 1;
}
.team-content{
    background: url("../images/AlpinistFeatured.jpg") center fixed;
    box-sizing: border-box;
    position: relative;
}
.team-content:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
            to right,
            rgba(86,0,181, 0.7) 0%,
            rgba(199,6,6, 0.7) 100%);
}
.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 85px;
    position: relative;
    margin-bottom: 100px;
    text-transform: uppercase;
    text-align: center;
}
.heading h2{
    font-weight: 300;
    font-size: 44px;
    color: #ffffff;
}
.heading h2 span{
    font-weight: 700;
    font-size: 44px;
}
.heading:before{
    content: '';
    position: absolute;
    width: 80px;
    height: 3px;
    background: #FCAC45;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -3px;
}
.heading:after{
    content: '';
    position: absolute;
    width: 55px;
    height: 3px;
    background: #FCAC45;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -13px;
    opacity: .6;
}
.owl-carousel{
    width: 100%;
    height: 60%;
    display: flex;
    padding: 0 150px;
}

.owl-carousel .about-person img{
    object-fit: cover;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    display: unset;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    color: #fff;
    border: none;
    padding: 10px!important;
    font-weight: bold;
}
.owl-theme .owl-dots .owl-dot span {
    display: none;
}
.about-person{
    text-align: center;
    padding-bottom: 100px;
}
.about-person h3, p{
    text-align: justify-all;
    color: white;
}
.about-person h3{
    font-size: 20px;
    font-weight: 600;
}
.about-person p{
    font-size: 16px;
    font-weight: 400;
}
.about-person span{
    font-size: 14px;
    font-weight: 400;
}
.services-content{
    width: 100%;
}
.services-content .heading h2{
    color: black;
}
.description p{
    color: #6c6c6c;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin-bottom: 100px;
    font-family: "OpenSans", sans-serif;
}
.service-items{
    text-align: center;
}
.service-items span{
    font-size: 40px;
    width: 100px;
    height: 100px;
    border: 5px solid orange;
    border-radius: 50px;
    padding: 25px;
    margin-bottom: 20px;
    display: inline-block;
}
.service-items span:hover {
    color: orange;
}
.about-service h2{
    font-size: 25px;
    text-transform: uppercase;

}
.about-service p{
    font-size: 14px;
}
.clients-content{
    background: black;
    padding-bottom: 160px;
}
.client-logo{
    padding: 50px 0;
    text-align: center;
}
.works-content{
    padding-bottom: 100px;
}
.works-content .heading h2{
    color: #000;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-header{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.portfolio-header h4{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.portfolio-header .portfolio-list{
    color: black;
}
.portfolio-list-item{
    display: inline-block;
    font-size: 18px;
}
.portfolio-list-item span{
    display: inline-block;
    width: 1px;
    height: 18px;
    background: black;
    margin: -3px 10px;
    font-size: 18px;
}

.portfolio-item{
    height: 200px;
    background-position: center center;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.fade-box{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    bottom: -236px;
    transition: 0.5s;
    opacity: 0.8;
    text-align: center;
    overflow: hidden;
    padding: 40px 20px;
}
.fade-box h3{
    line-height: 25px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
.fade-box p{
    font-size: 14px;
    color: #b2b2b2;
    margin-bottom: 30px;

}
.fade-box span{
    font-size: 18px;
    border: 2px solid orange;
    border-radius: 50%;
    padding: 7px;
    color: orange;
    margin-top: 20px;
}
.portfolio-item:hover .fade-box{
    bottom: 0;
}
.testimonials-content{
    background: #000;
}
.testimonials-carousel{
    padding-bottom: 120px;
}
.testimonials .description{
    text-align: center;
    color: #fff;
}
.testimonials .description h4{
    text-transform: uppercase;
    font-size: 18px;
    color: #e7e7e7;
}
.testimonials .description p{
    color: #b2b2b2;
    font-weight: bold;
}
.testimonials .description p span{
    color: #e7e7e7;
}
.owl-theme .owl-dots .owl-dot span{
    color: #fff;
    padding: 5px;
    display: block;
}
.contact-content .heading h2{
    color: black;
}
label span{
     color: red;
}
footer{
    background: #222222;
    padding: 20px;
    margin-top: 100px;
}
footer nav h4, ul  li span{
    font-size: 12px;
    color: #b2b2b2;
    margin-bottom: 0;
}
footer .list-item span{
    border: 2px solid #b2b2b2;
    border-radius: 50%;
    padding: 5px;
    margin-right: -17px;
}
.btn-primary{
    width: 160px;
    padding: 7px;
    border: 1px solid #FCAC45;
    border-radius: 0;
    float: right;
    font-size: 16px;
    text-transform: uppercase;
    background: #FCAC45;
}

@media (max-width: 768px) {
    .box-image {
        width: 100%;
    }
    .about-us{
        padding-left: 20px;
    }
    .about-title{
        font-size: 15px;
    }
    .about-us-title{
        font-size: 24px;
    }
    .about-us-title:before{
        width: 70px;
    }
    .about-us ul.list-items {
        margin-top: 25px;
        margin-bottom: 38px;
    }
    p.about-description{
        font-size: 13px;
    }
    .about-us ul li span{
        font-size: 13px;
    }
    .about-us ul.list-items .list-item{
        font-size: 11px;
        line-height: 30px;
    }
    .button{
        margin-bottom: 20px;
    }
    .button a {
        padding: 10px 20px;
        font-size: 10px;
        margin-bottom: 50px;
    }
    header{
        top: 25px;
    }
    .logo{
        font-size: 20px;
    }
    .list-item {
        font-size: 10px;
        margin-right: 10px;
    }
    .list-item a:hover:before{
        height: 2px;
        bottom: -15px;
    }
    .list-item a:hover:after{
        height: 2px;
        bottom: -15px;
    }
    #hero{
        font-size: 40px;
    }
    .header-title {
        font-size: 30px;
    }
    .header-description{
        font-size: 13px;
    }
    .header-title span{
        font-size: 30px;
    }
    .scroll{
        padding: 10px;
        font-size: 13px;
        bottom: 70px;
        width: 35px;
        height: 35px;
        background-size: 40px;
    }
    .about-content{
        padding: 70px 5px 5px 5px;
    }
    .box-image{
        width: 120%;
    }
    .about-us{
        padding-left: 40px;
    }
    .about-title {
        font-size: 14px;
    }
    .about-us-title{
        font-size: 23px;
        margin-bottom: 20px;
    }
    .about-us-title:before{
        width: 70px;
        height: 2px;
        bottom: -10px;
    }
    p.about-description{
        font-size: 12px;
    }
    .about-us ul li span{
        font-size: 12px;
    }
    .about-us ul.list-items{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .about-us ul.list-items .list-item{
        font-size: 12px;
        line-height: 20px;
    }
    .button a{
        padding: 10px 20px;
        font-size: 9px;
    }
    .heading {
        padding-top: 40px;
        margin-bottom: 40px;
    }
    .heading h2{
        font-size: 32px;
    }
    .heading h2 span{
        font-size: 32px;
    }
    .heading:before{
        width: 60px;
        height: 2px;
    }
    .heading:after{
        width: 40px;
        height: 2px;
        bottom: -11px;
    }
    .owl-carousel{
        padding: 0 120px;
    }

    .owl-carousel .about-person img{
        width: 100px;
        height: 100px;
    }
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        padding: 8px!important;
    }
    .owl-theme .owl-dots .owl-dot span{
        background: orange;
    }
    .owl-theme .owl-dots .owl-dot:active span{
        background: #1c7430;
    }
    .about-person{
        padding-bottom: 75px;
    }
    .about-person h3{
        font-size: 15px;
    }
    .about-person p{
        font-size: 12px;
    }
    .about-person span{
        font-size: 11px;
    }
    .description p{
        font-size: 12px;
        margin-bottom: 75px;
    }
    .service-items span{
        font-size: 30px;
        width: 80px;
        height: 80px;
        border: 4px solid orange;
        padding: 20px;
        margin-bottom: 15px;
    }
    .about-service h2{
        font-size: 20px;
    }
    .about-service p{
        font-size: 11px;
    }
    .clients-content{
        padding-bottom: 120px;
    }
    .client-logo{
        padding: 40px 0;
    }
    .works-content{
        padding-bottom: 80px;
    }
    .portfolio-header{
        padding: 0 12px;
    }
    .portfolio-header h4{
        font-size: 14px;
    }
    .portfolio-list-item{
        font-size: 14px;
    }
    .portfolio-list-item span{
        width: 1px;
        height: 14px;
        margin: -2px 10px;
        font-size: 14px;
    }

    .portfolio-item{
        height: 150px;
        margin: 8px 0;
    }
    .fade-box{
        padding: 30px 15px;
    }
    .fade-box h3{
        line-height: 20px;
        font-size: 15px;
    }
    .fade-box p{
        font-size: 11px;
        margin-bottom: 23px;
    }
    .fade-box span{
        font-size: 14px;
        padding: 5px;
        margin-top: 15px;
    }
    .testimonials-carousel{
        padding-bottom: 90px;
    }
    .testimonials .description h4{
        font-size: 14px;
    }
    footer nav h4, ul  li span{
        font-size: 10px;
    }
    footer .list-item span{
        padding: 5px;
        margin-right: -17px;
    }
    .btn-primary{
        width: 120px;
        padding: 5px;
        font-size: 12px;
    }
}